p{
    color: rgb(3, 3, 3);
        background-color: rgb(188, 192, 196);
        opacity: 80%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        padding: 4px;
    
}

h2{
    color:cornsilk;
    text-align: center;
    position:absolute;
    top:15%;
    left: 45%;
}
img {
    position: absolute;
    bottom: 68.5%;
    width: 180px;

}